Library/assetDatabase3
Library/AnnotationManager
Library/
.collabignore
.vs/
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
temp
*.csproj
obj/
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
*.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
